<h1>{{title}}</h1>
<div class="container">   
        <div class = "card-body">
            <h2>Ajouter un nouveau Héro</h2>
            <form #heroForm ="ngForm"(ngSubmit)="validateHero($event, heroForm)">
                <div style="display: inline-block">
                    <label for="name">Nom : </label>
                    <input id="name" name="name" #nameControl="ngModel" [(ngModel)]="newHeroName" required>
                    <span class="error" *ngIf="nameControl.invalid && nameControl.dirty"> Nom du héro obligatioire </span>
                </div>
                <button class="btn btn-primary" [disabled]="!heroForm.valid">Ajouter</button>
            </form>
            <h6>Formulaire Valid ? {{ heroForm.valid }} </h6>
        </div>
        <router-outlet></router-outlet>
</div>